mixin scripts
    script(src="libs/materialize-css/dist/js/materialize.min.js")
    script(src="libs/axios/dist/axios.min.js")
    script(src="static/js/main.js")
    //- script(src="dist/js/main.js")